<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c59bf71257.js" crossorigin="anonymous"></script>
    <title>To Do</title>
</head>
<body>
    
    <div class="box" id="heading">
        <h1>Today</h1>
    </div>

    <div class="box">
        <ul class="tasks">
            <% for(let i=0; i< tasks.length; i++){%>
                <li class='task'>
                    <span><%= tasks[i].task%></span>
                    <i class="fa fa-trash"></i>
                </li>
            <% } %>
        </ul>
    </div>



    <form action="/tasks" method="post">
        <input type="text" placeholder="New Item" name="task" autocomplete="off">
        <button type="submit">Add</button>
    </form>


    <footer>Copyright 2022 JFM</footer>


    <script src="/main.js"></script>
</body>
</html>